{% extends "layout.html" %}

{% block body %}
<section class="col-md-6 m-4">

    {% for message in get_flashed_messages() %}
    <h2>{{ message }}</h2>
    {% endfor %}
    <form action="/add_place" method="post">
        <label><b> Plats: </b> </label><input type="text" name="place"><br>
        <input type="submit" value="Submit">
</form>

    <form action="/increment_num" method="post">
        <label><b> Plats: </b> </label><input type="text" name="place"><br>
        <input type="submit" value="Submit">
</form>

</section>
{% endblock %}